@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentRegistrationBPK.Models.Student ;


<html>
    <head>
        <style>
            body{
                background-color:aqua ;
            }
            h1,h4,h3,h2{
                align-content: center ;
            }
        </style>
    </head>
    <body>
        <h2>Welcome @Model.FirstName</h2>
        <div>   
            <label>Details of @Model.FirstName @Model.LastName</label>
        </div>
        <div>
        <label>Dob: @Model.Dob</label>
        </div>
        <div>
        <label>Parent Name: @Model.ParentName </label>
        </div>
        <div>
        <label>City: @Model.City </label>
    </div>
        <div>
        <label>Phone Number: @Model.Phone</label>
        </div>
        <h3>Academic Performance</h3>
        <div>
            <label>Marks Secured In Each Subject</label>
        </div>
        <div>
        <label>Maths: @Model.Maths</label>
        </div>
        <div>
        <label>Hindi: @Model.Hindi </label>
        </div>
        <div>
        <label>English: @Model.English</label>
        </div>
        <div>
        <label>Science: @Model.Science</label>
        </div>
        <div>
        <label>Social Science: @Model.SocialScience</label>
        </div>
        <div>
        @if ((@Model.Hindi + Model.Science + Model.SocialScience + Model.English + Model.Maths) / 500 >= 0.6)
        {
            <h2>@Model.FirstName has scored more than 60%</h2>
        }
        else
        {
            <h2>@Model.FirstName has scored less than 60%</h2>
        }
    </div>
    </body>
</html>
